<link rel="icon" type="image/png" href="/assets/images/favicon.png" />

<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup {
		background: #EBF5F8; 
		clear: left; 
		font: 14px Helvetica,Arial,sans-serif; 
		width: 100%;
	}
	#mc_embed_signup label {
	    display: block;
	    font-size: 18px;
	}
	#mc-embedded-subscribe {
		font-size: 14px;
    	padding: 8px;
	    margin: 0px 8px 0px 8px;
	}
	#mc_embed_signup form {
	    background-color: #EBF5F8;
	}
</style>
